@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

.title-line {
    border-bottom: 1px solid #cacaca;
    text-align: center;
    margin-bottom: 4.5em;
    .title {
      background: #fff;
      color: #808080;
      display: inline-block;
      font-family: "Oswald", sans-serif;
      font-size: 2em;
      font-weight: 500;
      padding: 0 10px;
      position: relative;
      text-transform: uppercase;
      top: 34px;
      margin-bottom: 0.5em;
    }
}

.ad {
  margin-top: 1em;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item {
  @include border-style(null null solid);
  @include border-width(null null 1px);
  h4 {
    font-weight: bold;
    line-height: 1.5em;
  }

  p {
  }
}

$badge-font-size: 0.75em !default;
$medium-gray: #999 !default;
$alert-color: #fff6bf !default;
$error-color: #fbe3e4 !default;
$notice-color: #e5edf8 !default;
$success-color: #e6efc2 !default;

@mixin badge($color: $medium-gray) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: $badge-font-size;
  line-height: 1;
  padding: 0.4em 1.2em;
}

.badge {
  @include badge;
}

.badge-alert {
  @include badge($alert-color);
}

.badge-error {
  @include badge($error-color);
}

.badge-notice {
  @include badge($notice-color);
}

.badge-success {
  @include badge($success-color);
}


.stats {
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $action-color: #477dca !default;
  $stats-color: lighten($action-color, 10%);

  padding: $base-spacing / 2;

  ul {
    padding: 0;
  }

  > ul > li {
    border-right: 1px solid transparentize($base-font-color, 0.8);
    color: $stats-color;
    display: inline;
    float: left;
    font-size: 1.2em;
    line-height: 1.1em;
    padding: 0 0.7em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
    }
    > span {
      color: $base-font-color;
      display: block;
      font-size: 0.7em;
      font-weight: normal;
    }
  }

  .tooltip-item {  
    $base-border-color: gainsboro !default;
    $base-border-radius: 3px !default;
    $base-line-height: 1.5em !default;
    $dark-gray: #333 !default;
    $base-font-color: $dark-gray !default;  
    $tooltip-background: white;
    $tooltip-color: $base-font-color;
    $tooltip-max-width: 16em;
    $tooltip-arrow-width: 12px;
    $tooltip-shadow: 0 2px 2px silver;
    $tooltip-distance-from-item: 2em;
    $tooltip-arrow-distance-from-box: -1.3em;

    display: inline-block;
    position: relative;

    &:focus,
    &:hover .tooltip {
      opacity: 1;
      visibility: visible;
    }

    .tooltip {
      @include position(absolute, null 0 $tooltip-distance-from-item 0);
      @include transition (all 0.2s ease-in-out);
      width: 10em;
      left: -5em;
      background-color: $tooltip-background;
      background: #fff;
      border-radius: $base-border-radius;
      box-shadow: $tooltip-shadow;
      color: $tooltip-color;
      font-size: 0.9em; // Make sure you use -webkit-backface-visibility: hidden; on the body element to prevent 1px nudging bugs.
      line-height: 1.5em;
      margin: 0 auto;
      // max-width: $tooltip-max-width;
      opacity: 0;
      padding: 1em;
      text-align: center;
      visibility: hidden;
      z-index: 10;

      p {
        color: $base-font-color;
        line-height: $base-line-height;
        margin: 0;
      }

      span {
        display: inline;
        white-space: nowrap;
        margin: 0.2em;
        color: $base-font-color;
        font-size: 0.9em;
        font-weight: normal;
      }

      span.num {
        color: $stats-color;
      }

      &:after {
        @include position(absolute, null 0 null 0);
        border: $tooltip-arrow-width solid transparent;
        bottom: $tooltip-arrow-distance-from-box;
        color: $tooltip-background;
        content: '▼';
        font-size: 1.4em;
        margin-left: -$tooltip-arrow-width;
        text-align: center;
        text-shadow: $tooltip-shadow;
      }
    }
  }
}

.container {
  @include outer-container;

  .type {
    @include span-columns(4);

    @include media($tablet) {
      @include span-columns(8);
    }

    h3 {
      @include span-columns(2 of 4);
      @include shift(2);

      text-align: right;
      font-size: 1.5em;
      letter-spacing: 0.2em;
      margin-bottom: 0;
      margin-top: 0.5em;
      color: rgba(50, 50, 50, 0.71);

      @include media($tablet) {
        @include span-columns(2 of 8);
        @include shift(6);
      }
    }

    .row {
      $base-border-radius: 3px !default;
      $base-background-color: white !default;
      $dark-gray: #333 !default;
      $light-gray: #DDD !default;
      $base-font-color: $dark-gray !default;
      $box-border-color: $light-gray;
      $box-border: 1px solid $box-border-color;
      $box-background: lighten($light-gray, 10%);
      $box-gutter: 0.4em;
      $box-width: 18em;
      $box-color: transparentize($base-font-color, 0.3);
      $box-top-colors: 
        tomato, 
        #72BFBF, 
        #92B1E3, 
        #E3D743,
        #CCC,
        #F6C05C;

      @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
        &:nth-child(#{$i}n) {
          $color-from-list: nth($box-top-colors, $i);
          border-top: 6px solid $color-from-list;

          &:focus,
          &:hover {
            background-color: transparentize($color-from-list, 0.9);
          }
        }
      }

      background: $box-background;
      border-radius: 3px;
      box-shadow: inset 0 0 1px $box-border-color, 0 2px 4px darken($base-background-color, 10%);
      display: block;
      // margin: $box-gutter;
      margin-top: 1em;
      padding: 1em 1em 2em 1em;

      @include span-columns(4 of 4);
      @include media($tablet) {
        @include span-columns(8 of 8);
      }

      .competition-info {
        @include span-columns(4 of 4);

        margin-top: 2em;
        text-align: center;
        .team-name {
          font-size: 1.5em;
          margin: 10px;
        }

        .time {
        }

        .vs {
          font-weight: bold;
        }
        @include media($tablet) {
          @include span-columns(4 of 8);
        }
      }

      .odd {
        div {
          display: table;
          margin: 0 auto;
        }
        @include span-columns(4 of 4);
        @include media($tablet) {
          @include span-columns(4 of 8);
        }
      }
    }
  }
}

.flex-boxes {
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $base-font-color: $dark-gray !default;
  $flex-box-border-color: $light-gray;
  $flex-box-border: 1px solid $flex-box-border-color;
  $flex-box-background: lighten($light-gray, 10%);
  $flex-box-gutter: 0.4em;
  $flex-box-width: 18em;
  $flex-box-color: transparentize($base-font-color, 0.3);
  $flex-box-top-colors: 
    tomato, 
    #72BFBF, 
    #92B1E3, 
    #E3D743,
    #CCC,
    #F6C05C;

    @include clearfix;
    @include display(flex);
    @include justify-content(center);
    @include align-items(stretch);
    @include flex-wrap(wrap);
    clear: both;
    text-align: center;

  .flex-box {
    @include transition (all 0.2s ease-in-out);
    @include flex(2 2 15em);
    @include align-self(stretch);
    background: $flex-box-background;
    border-radius: $base-border-radius;
    box-shadow: inset 0 0 1px $flex-box-border-color, 0 2px 4px darken($base-background-color, 10%);
    display: block;
    margin: $flex-box-gutter;
    padding: 2em 2em 3em 2em;
    text-decoration: none;

    @for $i from 1 to 7 { // assign colors from $flex-box-top-colors list
      &:nth-child(#{$i}) {
        $color-from-list: nth($flex-box-top-colors, $i);
        border-top: 6px solid $color-from-list;
        
        &:focus,
        &:hover {
          background-color: transparentize($color-from-list, 0.9);
        }
      }
    }

    img {
      display: block;
      height: 3em;
      margin: 0 auto 1em;
      opacity: 0.4;
    }

    .flex-title {
      color: $flex-box-color;
      font-size: 1.2em;
      margin-bottom: 0.5em;
    }

    p {
      color: transparentize($flex-box-color, 0.1);
      line-height: 1.5em;
      margin: auto;
    }
  }

  .flex-box-big {
    @include flex(1 1 40em);
  }
}


.footer {
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);

  background: $footer-background;
  padding: ($base-spacing * 2) $gutter;
  width: 100%;
  margin-top: 2em;

  .footer-links {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
    margin-bottom: $base-spacing;
  }

  ul {
    @include flex-basis(13em);
    @include flex-shrink(0);
    margin-bottom: $base-spacing * 2;
    padding: 0;
  }

  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }

  li a {
    color: $footer-link-color;
    text-decoration: none;

    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}
