@import "../neat/neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $max-width: 1200px;
$grid-columns: 4;

// Neat Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

$mobile: new-breakpoint(max-width 600px 4);
$tablet: new-breakpoint(min-width 600px 8);

